html {
  --cvt19app-search-label-text-color: rgb(255, 255, 255);
  --cvt19app-text-color: rgb(255, 255, 255);
  --cvt19app-background-color: rgb(16, 44, 13);
  --cvt19navbar-background-color: rgba(12, 24, 10, 0.8);
  --cvt19navbar-text-color: white;
}

.cvt19app {
  display: block;
  text-align: center;
  background-color: var(--cvt19app-background-color);
  align-items: center;
  color: var(--cvt19app-text-color);
  justify-content: center;
  min-height: 100vh;
}
.cvt19app-header {
  padding-left: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 50px;
  color: var(--cvt19navbar-text-color);
}

.cvt19app-search-bar {
  z-index: 1;
  position: relative;
  display: inline-block;
  font-size: 20px;
  width: 700px;
  color: var(--cvt19app-search-label-text-color);
  padding-bottom: 75px;
}

.cvt19app-navbar {
  background-color: var(--cvt19navbar-background-color);
}
